@import 'vars';
@import 'mixins';
@import 'operations';

*{
    margin: 0;
    padding: 0;
}
  
body{
    font-family: "Open Sans", sans-serif;
    color: $accentColor;
}

.center{
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
}

.header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left{
        @include centerFlex();
        gap: 10px;

        &-logo{
            width: 60px;
            height: 60px;
        }
    }

    &-right{
       &-link{
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid $accentColor;
        color: $accentColor;
        border-radius: 5px;
       } 
    }
}

.main{
    margin-top: 40px;

    &-info{
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-title{
            font-size: 30px;
            font-weight: 300;
            font-style: italic;
        }

        &-box{
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-text{
                width: 200px;
                text-align: end;
                font-size: 20px;
                font-weight: bold;
                color: $mainColor;
                text-shadow: 1px 1px 2px black;
            }

            &-radio{
                display: flex;

                &-btn{
                    display: none;
                }

                &-btn:checked + .main-info-box-radio-label{
                    background-color: $mainColor;
                }

                &-label{
                    padding: 10px 20px;
                    border: 1px solid $accentColor;
                    color: $accentColor;
                    cursor: pointer;
                }

                &-first{
                    @include centerFlex();
                    flex-direction: column;
                    gap: 3px;
                }

                &-second{
                    @include centerFlex();
                    flex-direction: column;
                    gap: 3px;
                }
            }

            &-radio .left-radio{
                border-radius: 5px 0 0 5px;
            }

            &-radio .right-radio{
                border-radius: 0 5px 5px 0;
            }
        }
    }

    &-data{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-fio{
            display: flex;
            align-items: center;

            &-text{
                width: 150px;
            }

            &-input{
                padding: 3px;
                width: 350px;
            }
        }

        &-name{
            display: flex;
            align-items: center;

            &-text{
                width: 150px;
            }

            &-input{
                padding: 3px;
                width: 350px;
            }
        }

        &-tel{
            display: flex;
            align-items: center;
            
            &-text{
                width: 150px;
            }

            &-input{
                padding: 3px;
                width: 200px;
            }
        }

        &-mail{
            display: flex;
            align-items: center;

            &-text{
                width: 150px;
            }

            &-input{
                padding: 3px;
                width: 200px;
            }
        }

        &-date{
            display: flex;
            align-items: center;

            &-text{
                width: 150px;
            }

            &-input{
                padding: 3px;
                width: 200px;
            }
        }

        &-location{
            &-text{
                color: $secondAccentColor;
                font-size: 11px;
            }
        }

        &-consent span{
            color: $mainColor;
            cursor: pointer;
        }

        &-info{
            color: $secondAccentColor;
            font-size: 13px;
        }

        &-btn-registration{
            width: 200px;
            padding: 15px;
            background-color: $mainColor;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        &-btn-registration:hover{
            opacity: 0.85;
        }
    }
}

.footer{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-info-organization{
        color: $secondAccentColor;
        font-size: 13px;
    }

    &-info-policy{
        color: $mainColor;
        font-size: 11px;
    }
}


@media (max-width: 1024px) {
    .center{
        padding-left: calc(50% - 300px);
        padding-right: calc(50% - 300px);
    }
    .main-info-title{
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .center{
        padding-left: calc(50% - 200px);
        padding-right: calc(50% - 200px);
    }
    .main-data-name-input, .main-data-fio-input{
        width: 230px;
    }
}

@media (max-width: 425px){
    .center{
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }
    .header-right-link{
        padding: 5px 10px;
    }
    .main-info-title{
        font-size: 18px;
    }
    .main-info-box-text{
        width: 170px;
    }
    .main-info-box-radio-label {
        padding: 5px 10px;
    }
    .main-data-name-input, .main-data-fio-input, .main-data-tel-input, .main-data-mail-input, .main-data-date-input{
        width: 160px;
    }
}

@media (max-width: 425px){
    .center{
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
    }
}