.number-1 {
  background-color: rgb(1, 255, 200);
}

.number-2 {
  background-color: rgb(2, 254, 200);
}

.number-3 {
  background-color: rgb(3, 253, 200);
}

.number-4 {
  background-color: rgb(4, 252, 200);
}

.number-5 {
  background-color: rgb(5, 251, 200);
}

.number-6 {
  background-color: rgb(6, 250, 200);
}

.number-7 {
  background-color: rgb(7, 249, 200);
}

.number-8 {
  background-color: rgb(8, 248, 200);
}

.number-9 {
  background-color: rgb(9, 247, 200);
}

.number-10 {
  background-color: rgb(10, 246, 200);
}

.number-11 {
  background-color: rgb(11, 245, 200);
}

.number-12 {
  background-color: rgb(12, 244, 200);
}

.number-13 {
  background-color: rgb(13, 243, 200);
}

.number-14 {
  background-color: rgb(14, 242, 200);
}

.number-15 {
  background-color: rgb(15, 241, 200);
}

.number-16 {
  background-color: rgb(16, 240, 200);
}

.number-17 {
  background-color: rgb(17, 239, 200);
}

.number-18 {
  background-color: rgb(18, 238, 200);
}

.number-19 {
  background-color: rgb(19, 237, 200);
}

.number-20 {
  background-color: rgb(20, 236, 200);
}

.number-21 {
  background-color: rgb(21, 235, 200);
}

.number-22 {
  background-color: rgb(22, 234, 200);
}

.number-23 {
  background-color: rgb(23, 233, 200);
}

.number-24 {
  background-color: rgb(24, 232, 200);
}

.number-25 {
  background-color: rgb(25, 231, 200);
}

.number-26 {
  background-color: rgb(26, 230, 200);
}

.number-27 {
  background-color: rgb(27, 229, 200);
}

.number-28 {
  background-color: rgb(28, 228, 200);
}

.number-29 {
  background-color: rgb(29, 227, 200);
}

.number-30 {
  background-color: rgb(30, 226, 200);
}

.number-31 {
  background-color: rgb(31, 225, 200);
}

.number-32 {
  background-color: rgb(32, 224, 200);
}

.number-33 {
  background-color: rgb(33, 223, 200);
}

.number-34 {
  background-color: rgb(34, 222, 200);
}

.number-35 {
  background-color: rgb(35, 221, 200);
}

.number-36 {
  background-color: rgb(36, 220, 200);
}

.number-37 {
  background-color: rgb(37, 219, 200);
}

.number-38 {
  background-color: rgb(38, 218, 200);
}

.number-39 {
  background-color: rgb(39, 217, 200);
}

.number-40 {
  background-color: rgb(40, 216, 200);
}

.number-41 {
  background-color: rgb(41, 215, 200);
}

.number-42 {
  background-color: rgb(42, 214, 200);
}

.number-43 {
  background-color: rgb(43, 213, 200);
}

.number-44 {
  background-color: rgb(44, 212, 200);
}

.number-45 {
  background-color: rgb(45, 211, 200);
}

.number-46 {
  background-color: rgb(46, 210, 200);
}

.number-47 {
  background-color: rgb(47, 209, 200);
}

.number-48 {
  background-color: rgb(48, 208, 200);
}

.number-49 {
  background-color: rgb(49, 207, 200);
}

.number-50 {
  background-color: rgb(50, 206, 200);
}

.number-51 {
  background-color: rgb(51, 205, 200);
}

.number-52 {
  background-color: rgb(52, 204, 200);
}

.number-53 {
  background-color: rgb(53, 203, 200);
}

.number-54 {
  background-color: rgb(54, 202, 200);
}

.number-55 {
  background-color: rgb(55, 201, 200);
}

.number-56 {
  background-color: rgb(56, 200, 200);
}

.number-57 {
  background-color: rgb(57, 199, 200);
}

.number-58 {
  background-color: rgb(58, 198, 200);
}

.number-59 {
  background-color: rgb(59, 197, 200);
}

.number-60 {
  background-color: rgb(60, 196, 200);
}

.number-61 {
  background-color: rgb(61, 195, 200);
}

.number-62 {
  background-color: rgb(62, 194, 200);
}

.number-63 {
  background-color: rgb(63, 193, 200);
}

.number-64 {
  background-color: rgb(64, 192, 200);
}

.number-65 {
  background-color: rgb(65, 191, 200);
}

.number-66 {
  background-color: rgb(66, 190, 200);
}

.number-67 {
  background-color: rgb(67, 189, 200);
}

.number-68 {
  background-color: rgb(68, 188, 200);
}

.number-69 {
  background-color: rgb(69, 187, 200);
}

.number-70 {
  background-color: rgb(70, 186, 200);
}

.number-71 {
  background-color: rgb(71, 185, 200);
}

.number-72 {
  background-color: rgb(72, 184, 200);
}

.number-73 {
  background-color: rgb(73, 183, 200);
}

.number-74 {
  background-color: rgb(74, 182, 200);
}

.number-75 {
  background-color: rgb(75, 181, 200);
}

.number-76 {
  background-color: rgb(76, 180, 200);
}

.number-77 {
  background-color: rgb(77, 179, 200);
}

.number-78 {
  background-color: rgb(78, 178, 200);
}

.number-79 {
  background-color: rgb(79, 177, 200);
}

.number-80 {
  background-color: rgb(80, 176, 200);
}

.number-81 {
  background-color: rgb(81, 175, 200);
}

.number-82 {
  background-color: rgb(82, 174, 200);
}

.number-83 {
  background-color: rgb(83, 173, 200);
}

.number-84 {
  background-color: rgb(84, 172, 200);
}

.number-85 {
  background-color: rgb(85, 171, 200);
}

.number-86 {
  background-color: rgb(86, 170, 200);
}

.number-87 {
  background-color: rgb(87, 169, 200);
}

.number-88 {
  background-color: rgb(88, 168, 200);
}

.number-89 {
  background-color: rgb(89, 167, 200);
}

.number-90 {
  background-color: rgb(90, 166, 200);
}

.number-91 {
  background-color: rgb(91, 165, 200);
}

.number-92 {
  background-color: rgb(92, 164, 200);
}

.number-93 {
  background-color: rgb(93, 163, 200);
}

.number-94 {
  background-color: rgb(94, 162, 200);
}

.number-95 {
  background-color: rgb(95, 161, 200);
}

.number-96 {
  background-color: rgb(96, 160, 200);
}

.number-97 {
  background-color: rgb(97, 159, 200);
}

.number-98 {
  background-color: rgb(98, 158, 200);
}

.number-99 {
  background-color: rgb(99, 157, 200);
}

.number-100 {
  background-color: rgb(100, 156, 200);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: rgb(49, 49, 49);
}

.center {
  padding-left: calc(50% - 400px);
  padding-right: calc(50% - 400px);
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-left-logo {
  width: 60px;
  height: 60px;
}
.header-right-link {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid rgb(49, 49, 49);
  color: rgb(49, 49, 49);
  border-radius: 5px;
}

.main {
  margin-top: 40px;
}
.main-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-info-title {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}
.main-info-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-info-box-text {
  width: 200px;
  text-align: end;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 147, 147);
  text-shadow: 1px 1px 2px black;
}
.main-info-box-radio {
  display: flex;
}
.main-info-box-radio-btn {
  display: none;
}
.main-info-box-radio-btn:checked + .main-info-box-radio-label {
  background-color: rgb(255, 147, 147);
}
.main-info-box-radio-label {
  padding: 10px 20px;
  border: 1px solid rgb(49, 49, 49);
  color: rgb(49, 49, 49);
  cursor: pointer;
}
.main-info-box-radio-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}
.main-info-box-radio-second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}
.main-info-box-radio .left-radio {
  border-radius: 5px 0 0 5px;
}
.main-info-box-radio .right-radio {
  border-radius: 0 5px 5px 0;
}
.main-data {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-data-fio {
  display: flex;
  align-items: center;
}
.main-data-fio-text {
  width: 150px;
}
.main-data-fio-input {
  padding: 3px;
  width: 350px;
}
.main-data-name {
  display: flex;
  align-items: center;
}
.main-data-name-text {
  width: 150px;
}
.main-data-name-input {
  padding: 3px;
  width: 350px;
}
.main-data-tel {
  display: flex;
  align-items: center;
}
.main-data-tel-text {
  width: 150px;
}
.main-data-tel-input {
  padding: 3px;
  width: 200px;
}
.main-data-mail {
  display: flex;
  align-items: center;
}
.main-data-mail-text {
  width: 150px;
}
.main-data-mail-input {
  padding: 3px;
  width: 200px;
}
.main-data-date {
  display: flex;
  align-items: center;
}
.main-data-date-text {
  width: 150px;
}
.main-data-date-input {
  padding: 3px;
  width: 200px;
}
.main-data-location-text {
  color: rgb(117, 117, 117);
  font-size: 11px;
}
.main-data-consent span {
  color: rgb(255, 147, 147);
  cursor: pointer;
}
.main-data-info {
  color: rgb(117, 117, 117);
  font-size: 13px;
}
.main-data-btn-registration {
  width: 200px;
  padding: 15px;
  background-color: rgb(255, 147, 147);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.main-data-btn-registration:hover {
  opacity: 0.85;
}

.footer {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-info-organization {
  color: rgb(117, 117, 117);
  font-size: 13px;
}
.footer-info-policy {
  color: rgb(255, 147, 147);
  font-size: 11px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
  }
  .main-info-title {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .center {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
  }
  .main-data-name-input, .main-data-fio-input {
    width: 230px;
  }
}
@media (max-width: 425px) {
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  .header-right-link {
    padding: 5px 10px;
  }
  .main-info-title {
    font-size: 18px;
  }
  .main-info-box-text {
    width: 170px;
  }
  .main-info-box-radio-label {
    padding: 5px 10px;
  }
  .main-data-name-input, .main-data-fio-input, .main-data-tel-input, .main-data-mail-input, .main-data-date-input {
    width: 160px;
  }
}
@media (max-width: 425px) {
  .center {
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
  }
}/*# sourceMappingURL=style.css.map */